* {
    margin: 0;
    padding: 0;
}

body {

    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: white;
    position: relative;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 60px;
    z-index: 999;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

header a {
    font-weight: 100;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 3vh;
    margin-left: -60px;

}

.logo {
    max-width: 60px;
    max-height: 60px;
}

.whiteMe {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0;
}

figure {
    text-align: center;
    width: 100%;
}

.scroll {
    position: fixed;
    bottom: 22vh;
    margin-left: -5vh;
    max-height: 60px;
    animation: bounce 1s 2s alternate infinite ease-in;
}

@keyframes bounce {
    to {
        bottom: 18vh
    }
}

.posts {
    height: 100vh;
}

figcaption.scrollMe {
    position: fixed;
    bottom: 33vh;
    width: 100%
}

.overlayIndex {
    background-image: url(images/GettyImages-538096543_medium.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    background-color: white;
    opacity: 0;
    position: fixed;
    animation: appear 1.5s 1.2s forwards;
}


@keyframes appear {
    to {
        opacity: .7;
    }
}

.title {
    width: 100%;
    font-size: 1.3em;
    padding-top: 20%;
    text-align: center;
    position: fixed;
    opacity: 0;
    animation: appearTitle 2s .2s forwards;

}

.title h2 {
    font-weight: 100
}

@keyframes appearTitle {
    from {
        filter: blur(50px);
    }
    to {
        opacity: .7;
    }
}

.overlay {
    position: absolute;
    top: 140vh;
}

.map {
    position: relative;
    z-index: 21;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 30vh;
    cursor: pointer;
    transition: width .5s;

}


.map:hover {
    width: 60%;
    margin-left: 20%;
}

.overlayText {
    padding: 10% 20% 10% 20%;
    font-size: 1.2em;
    position: relative;
    color: black;
    z-index: 22;
    opacity: 1;
}

.fadeMe {
    opacity: 1;
    animation: fadeMe 1s .5s forwards
}

@keyframes fadeMe {
    to {
        opacity: 0;
    }
}

/*map page*/

.mainMap {
    padding-top: 100px;
    width: 100%;
    z-index: 1;
}

.usaMap {
    padding-top: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-in;
    z-index: 22;
}

.usa {
    width: 200px;
    height: 160px;
    position: absolute;
    top: 18vh;
    left: 14vh;
    cursor: pointer;
    z-index: 33;
}



/*template*/

.tempy .background {
    background-size: auto 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 60px;
    background-color: white;
    opacity: .6;
}

}

.countries {
    z-index: 333;
    position: relative;
    opacity: 1;
}

.countries h1 {

    text-transform: uppercase;
    position: fixed;
    top: 40vh;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin: auto;
    z-index: 1;
}

.appendPost {
    opacity: 1;
    position: relative;
    z-index: 333;
}

.tempy {
    width: 100%;
    margin-top: 60px;
}

.flag {

    width: 100vw;
    background-size: cover;
    text-align: center;
    background: linear-gradient (rgba(0, 0, 0, 0), rgba (0, 0, 0, 1))
}

.flag1 {position:absolute;
top:-120vh;
    opacity:0;

}
.number {
    font-size: 20em;
    text-align: center;
    width: 100%;
    position: relative;

}

.posts img {
    max-width: 20vh;
    max-height: 20vh;
}




@media screen and (min-width:800px) {

    /*index*/
    .title {
        width: 100%;
        padding-top: 10%;
        font-size: 3em;
    }

    figcaption.scrollMe {
        bottom: 14vh
    }


    .map {
        position: relative;
        z-index: 21;
        width: 20%;
        margin-left: 40%;
        margin-bottom: 10vh;
    }

    .map:hover {
        width: 30%;
        margin-left: 35%;
    }


    /*map page*/
    .mainMap {
        padding: 4%;
        width: 92%;
        padding-top: 100px;
    }

    .usa {
        width: 200px;
        height: 250px;
        position: absolute;
        top: 25vh;
        left: 20vh;
        cursor: pointer;
        z-index: 33;
    }

    .usaMap {
        position: absolute;
        top: 0;

        padding: 4%;
        width: 92%;
        padding-top: 100px;
        opacity: 0;
        transition: opacity .5s ease-in;
        z-index: 22;
    }


    /*template*/
    .countries h1 {

        font-size: 5em;

    }

    .flag {
        max-height: 100%;
        width: 60%;
        margin-left: 20%;
        filter: blur(10px);

    }



    .posts {
        display: block;
        height: 200vh;
        width: 100vw;
    }

    .posts img {
        display: block;
        max-width: 50vw;
        max-height: 50vw;
        margin: 1em;
    }

    .posts .firstimg {
        float: left;

    }

    .posts .secondimg {
        float: right;

    }

}
